<div class="leftNews">
  <h1><a href="/official_sale">更多&gt;&gt;</a>活动资讯</h1>
  <ul>
    <% (sales_laster || []).each do |sale| %>
      <li><span><%=sale.created_at.strftime('%Y-%m-%d') if sale.created_at %></span>
        <a href="/official_sale/<%= sale.id %>"><%=sale.name[0,10] %></a>        
      </li>
    <% end %>
  </ul>
</div>
<div class="leftInquire">
  <h1>门店查询</h1>
  <div class="inquire_side"><label>选择省市：</label>
    <select id="city_province_id"><option value="0">--请选择--</option>
      <% (province || []).each do |p|%>
        <option value=<%= p.id %>><%= p.name %></option>
      <%end%>
    </select>
    <select id="city_city_id"></select>
  </div>
  <div class="clear"></div>
  <div class="inquire_side">
    <ul id="stores_list">
    </ul>
  </div>
</div>
<%= javascript_include_tag "left" %>