<%  (@sales || []).each do |sale| %>
  <div class="salesList">
    <%= image_tag ("#{sale.img_url}") %>
    <h2><%= sale.name %></h2>
    <p><%=show_time( sale.started_at )%>&nbsp;-&nbsp;<%= show_time( sale.ended_at )%></p>
    <% if sale.introduction.size>50 %>
      <p><%= sale.introduction[0,50] %><%=link_to "详情/","/official_sale/#{sale.id}" %></p>
    <%else%>
      <p><%= sale.introduction %><%=link_to "详情","/official_sale/#{sale.id}" %></p>
    <%end%>
  </div>
<% end %>

