<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.4&services=true"></script>
<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=1.4&key=&services=&t=20130128031352"></script>
<div class="r_menu">
  <ul>
    <li><a href="/contact_us" class="hover">联系我们</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="text_box">
  <div id="contact_us_map"></div>
  <ul>
    <% if @store.nil? %>
    <li>无门店数据!</li>
    <% else %>
    <li>公司名称：<%= @store.name ||= "" %></li>
    <li>公司地址：<%= @store.address ||= "" %></li>
    <li>公司电话：<%= @store.phone ||= ""%></li>
    <li>联 系 人： <%= @store.contact ||= ""%></li>
    <li>电子邮件： <%= @store.email ||= ""%></li>
    <% end %>
  </ul>
</div><%= javascript_include_tag "contact_us_map" %>
<script type="text/javascript">
  var position="<%= @store.position if @store %>";
  var position_j_w= position.toString().split(',');
  var center_j=position_j_w[0];
  var center_w=position_j_w[1];
  //标注点数组
  var markerArr = [{
      title:"<%= @store.name if @store %>",
      content:"<%= @store.address if @store %>",
      point: center_j+"|"+center_w  ,//"116.419217|39.941715"
      isOpen:1,
      icon:{
        w:21,
        h:21,
        l:0,
        t:0,
        x:6,
        lb:5
      }
    }
  ];
  initMap(15,"contact_us_map");//创建和初始化地图

</script>


