<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>澜泰总部-login</title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "login" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "headquarter-main","login_validate" %>
    <!--[if IE 6]>
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
  </head>
  <body>
    <div class="box">
      <a href="/"><div class="logo">杭州澜泰科技有限公司</div></a>
      <div class="login_bg">
        <div class="login_box">
          <%= form_tag "/homepage/login_create",:onsubmit => "return login_validate()" do %>
          <input type="hidden" name="last_url" id="last_url" value="<%= params[:last_url] %>"/>
            <h1>用户登录</h1>
            <div class="login_list">
              <label>用户名：</label>
              <%= text_field_tag 'name' %>
            </div>
            <div class="login_list">
              <label>密码：</label>
              <%= password_field_tag 'mobilephone' %>
            </div>
            <div class="login_btn">
              <button type="submit">登录</button>
            </div>
          <% end %>
          <div class="login_a"><a href="/regist">注册</a></div>
        </div>
      </div>
    </div>
    <%= render :partial => "/common/tishi_alert" %>
    <div class="foot">
      <div><img src="/assets/foot_logo.png"/></div>
      <p>Copyright © 2013 杭州澜泰 版权所有</p>
    </div>
  </body>
</html>