<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>澜泰总部-register</title>
<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "login" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "regist_validate" %>
<!--[if IE 6]>
<script src="/assets/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  DD_belatedPNG.fix('*');
</script>
<![endif]-->

</head>
<body>
  <div class="box">
    <a href="/"><div class="logo">杭州澜泰科技有限公司</div></a>
    <div id="regist_bg" class="register_bg">
      <ul id="re_one" class="re_one">
        <li>第一步填写账户信息</li>
        <li>第二步注册成功</li>
      </ul>
       <%= form_for "customer", :url => "/homepage/regist_create",
         :html => {:onsubmit => "return regist_validate()"} do %>
        <div class="re_list">
          <label>姓名：<span class="red">*</span></label>
          <%= text_field_tag "name" %>
        </div>
        <div class="re_list">
          <label>车牌号：<span class="red">*</span></label>
         <%= text_field_tag "car_num" %>
        </div>
        <div class="re_list">
          <label>手机号：<span class="red">*</span></label>
          <%= text_field_tag "mobilephone" %>
        </div>
        <div class="re_list">
          <label>地址：<span class="red">*</span></label>
          <%= text_field_tag "address" %>
        </div>
      <div class="re_btn">
        <button>同意协议并注册</button>
      </div>
      <div class="re_a"><a href="javascript:void(0)">&lt;&lt;澜泰服务协议&gt;&gt;</a></div>
    <% end %>
    </div>
  </div>
  <%= render :partial => "/common/tishi_alert" %>
  <%#= render :partial => "/common/xieyi" %>
  <div class="foot">
    <div><img src="/assets/foot_logo.png"/></div>
    <p>Copyright © 2013 杭州澜泰 版权所有</p>
  </div>
</body>
</html>