<div class="r_menu">
  <ul>
    <li><a href="/product_information" class="hover">产品信息</a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="text_box">
  <% (@products || []).each do |product| %>
    <div class="salesPro">
      <img src="<%= product.img_url.gsub("img#{product.id}","img#{product.id}_#{Constant::P_PICSIZE[3]}") %>" alt="lantan" />
      <h1><%= product.name %></h1>
      <span><%= product.created_at.strftime('%Y-%m-%d') if product.created_at %></span>
      <p><%= product.description.html_safe if product.description %></p>
      <a href="/product_information/<%= product.id %>">详情&gt;&gt;</a>
    </div>
  <% end %>
</div>
<div class="pageTurn">
  <%= will_paginate  @products, :previous_label => "<<",
    :next_label=> ">>", :page_links =>"false" %>
</div>