<div class="r_menu">
  <ul>
    <li><a class="hover"><% if @product.is_service %>服务信息<% else %>产品信息<% end %></a></li>
  </ul>
</div>
<div class="clear"></div>
<div class="pro_box">
  <div class="pro_name">
    <h1><%= @product.name %></h1>
    <em><%= @product.created_at.strftime('%Y-%m-%d') if @product.created_at %></em>
  </div>
  <div class="pro_show">
    <div class="bigImg jqzoom">
      <img src="<%=@product.img_url.gsub("img#{@product.id}", "img#{@product.id}_#{Constant::PIC_SIZE[3]}") if @product.img_url %>"
           jqimg = "<%= @product.img_url %>" alt="lantan" />
    </div>
    <div class="pic_show">
      <ul>
        <li>
          <img src="<%=  @product.img_url.gsub("img#{@product.id}", "img#{@product.id}_#{Constant::PIC_SIZE[0]}") if @product.img_url %>" alt="lantan" />
        </li>
        <% @image_urls.each do |img| %>
        <li><img src="<%=img.img_url.gsub("img#{@product.id}", "img#{@product.id}_#{Constant::PIC_SIZE[0]}") %>" alt="lantan" /></li>
        <% end unless @image_urls.blank? %>
      </ul>
    </div>
  </div>
  <p><%= @product.description.html_safe if @product.description %></p>
  <div class="clear"></div>
  <div class="pro_text">
    <h2>详细信息</h2>
    <p><%= @product.introduction.html_safe if @product.introduction %></p>
  </div>
</div>
