<div class="main m_bg">
  <div class="box">
    <div class="banner">
      <div class="change">
        <ul>
          <li>
            <a href="/stores/<%= params[:id] %>">
              <img src="<%= @store.img_url.nil? ? "/assets/ad01.jpg" : @store.img_url.gsub("img#{@store.id}", "img#{@store.id}_#{Constant::STORE_PICSIZE[0]}") %>"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="left">
      <%=render "store_info" %>
    </div>
    <div class="right">
      <div class="sales">
         <%= render ("/sales/laster_sales") %>
      </div>
      <div class="text">
        <h1>服务</h1>
        <dl>
          <% @services.each do |key, value| %>
            <dt><%= SProduct::SERVICE_TYPES[key] %></dt>
            <dd>
            <% value[0..9].each_with_index do |service, index| %>
              <%= link_to "#{service.name}","/stores/#{@store.id}/products/#{service.id}" %>
              <% if (((index + 1) < 10) && ((index +1) < value.length)) %>/<% end %>
            <% end %>
            </dd>
          <% end if @services %>
        </dl>
      </div>
      <div class="text">
        <h1>产品</h1>
        <dl>
          <% @products.each do |key, value| %>
            <dt><%= SProduct::PRODUCT_TYPES[key] %></dt>
            <dd><% value[0..9].each_with_index do |product, index| %>
              <%= link_to "#{product.name}","/stores/#{@store.id}/products/#{product.id}" %>
               <% if (((index + 1) < 10) && ((index +1) < value.length)) %>/<% end %>
            <% end %></dd>
          <% end if @products %>
        </dl>
      </div>
    </div>
  </div>
</div>