<%= javascript_include_tag "user_info_main" %>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
  <thead>
    <tr class="hbg">
      <td>名称</td>
      <td>已使用项目</td>
      <td>剩余项目</td>
      <td>使用期限</td>
    </tr>
  </thead>
  <tbody>
    <% if @c_pcard_relations.blank? %>
    <tr align="center">
      <td colspan="4"><h4>您当前没有任何套餐消费记录！</h4></td>
    </tr>
    <% else %>
    <% @c_pcard_relations.each do |cpr| %>
      <%current_content= cpr.content.split("-") %>
    <tr>
      <td><%= current_content[0] %></td>
      <td><%= current_content[1] %></td>
      <td><%= current_content[2] %></td>
      <td><%= current_content[3] %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<div class="pageTurn">
  <%= will_paginate @c_pcard_relations, :class => "pagination", :previous_label => "&lt;上一页",
          :next_label=> "下一页&gt;"%>
</div>