<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
  <thead>
    <tr class="hbg">
      <td>时间</td>
      <td>金额（元）</td>
      <td>原因</td>
      <td>余额（元）</td>
    </tr>
  </thead>
  <tbody>
    <%(@records || []).each do |record|%>
      <tr>
        <td><%=show_time(record.created_at) %></td>
        <td><%= record.use_price %></td>
        <td>  <%= sv_p_relations(record)[0].product.name %></td>
        <td><%= record.left_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pageTurn">
   <%= will_paginate  @records, :class => "pagination", :previous_label => "&lt;上一页",
          :next_label=> "下一页&gt;"%>
</div>
