<div class="search">
  <%= form_tag "/user_infos/con_records/search", :method => :post %>
  <div><label>消费账单：</label>
    <input class="search_info" name="time" type="radio" value="0" <%= @time == "0" ||  @time.nil? ? 'checked="checked"' : "" %>/>&nbsp;当月账单&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="search_info" name="time" type="radio" value="1" <%= @time == "1" ? 'checked="checked"' : "" %>/>&nbsp;近二月&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="search_info" name="time" type="radio" value="2" <%= @time == "2" ? 'checked="checked"' : "" %>/>&nbsp;近三月&nbsp;&nbsp;&nbsp;&nbsp;
    <input class="search_info" name="time" type="radio" value="3" <%= @time == "3" ? 'checked="checked"' : "" %>/>全部

  </div><div>
      <label>未开发票查询：</label>
      <select id="is_billing" name="is_billing">
        <option value="0" <%= @is_billing == "0" || @is_billing.nil? ? 'selected="selected"' : "" %>>未开出</option>
        <option value="1" <%= @is_billing == "1" ? 'selected="selected"' : "" %>>已开出</option>
        <option value="2" <%= @is_billing == "2" ? 'selected="selected"' : "" %>>已寄出</option>
      </select>
    </div>
    <div><button type="submit" class="search_btn">查询</button></div>
  
</div>