<%= stylesheet_link_tag "jquery-ui-1.10.0.custom.min.css" %>

<%= javascript_include_tag "jquery-ui-1.10.0.custom.min" %>
<%= javascript_include_tag "jquery.ui.datepicker-zh-CN" %>
<%= javascript_include_tag "reservate_validate" %>

 <div class="main">
      <div class="box"><div class="leftAera">
  <%=render "stores/store_info" %>
  
  <div class="leftSales"><a href="#"><img src="images/sales01.jpg"></a><a href="#"><img src="images/sales01.jpg"></a></div>
</div>
<div class="rightAera">
<div class="rightTitle">
  <h1>在线预约</h1>
  <div class="arrange">
    <span class="red arrange_info">*您登记信息之后，我们客服将于您联系，请您将您的手机畅通，若联系不上，您的预约信息将作废。</span>
    <%=  form_for @reservation, :html => {:onsubmit => "return my_validate()"} do %>
      <table width="100%" border="0" cellspacing="1" cellpadding="0" id="loginmessage">
        <tr>
          <td colspan="4" class="table_head">
            登记信息
          </td>
        </tr>
        <tr>
          <td align="right">姓名：</td>
          <td><input name="customer_name" type="text" id="customer_name"/><label id="em"></label></td>
          <td align="right">车牌号：</td>
          <td><input name="car_number" type="text" id="car_number"/></td>
        </tr>
        <tr>
          <td align="right">电话：</td>
          <td><input name="telephone" type="text" id="telephone"/></td>
          <td align="right">预约时间：</td>
          <td><input name="res_time" type="text" id="datepicker"/></td>
        </tr>
        <tr>
          <td colspan="4">
            <input type="hidden" name="store_id" value="<%= @store.id  %>" />
            <input type="button" class="btn" id="next_step" value="下一步"/>
          </td>
        </tr>
      </table>

      <table width="100%" border="0" cellspacing="1" cellpadding="0" id="selectservice" style="display:none">
        <tr>
          <td colspan="4" class="table_head">
            选择服务项目
            <label id="emselect"></label>
          </td>
        </tr>
          <tr>
            <td>&nbsp;</td>
            <% @services.first(3).each do |service|%>
              <td><div class="td_item"><img src=<%= service.img_url %>/><p><input type="checkbox" name="select_service[]"  value='<%= service.id %>' /><%= service.name %></p></div></td>
            <% end %>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="3">
              <ul>
                <% @services[3..@services.length-1].each do |service| %>
                  <li><input type="checkbox" name="select_service[]" value='<%= service.id %>' /><%= service.name %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <tr>
          <td colspan="4">
          <input type="submit" class="btn" value="提交预约" id="check"/>
          </td>
        </tr>
      </table>
    <% end %>
    <p>杭州澜泰科技有限公司位于杭州西湖科技园西园五路16号4A栋，主营 汽车美容用品 批发 气
      动工具 汽车清洗 龙卷风喷枪 龙卷风清洗枪 龙卷风设备 内饰清洗设备 清洗枪 清洗机 泡沫机  等。</p>
    <p>电话：0571-88272888</p>
    <p>地址：杭州澜泰科技有限公司位于杭州西湖科技园西园五路16号4A栋</p>
  </div>
</div>
</div></div></div>
