<%= javascript_include_tag "reservate_validate" %>
<div class="main">
  <div class="box">
    <div class="leftAera">
      <%=  render "stores/store_info" %>
      <div class="leftSales"><%=render("/sales/laster_sales")%></div>
    </div>
    <div class="rightAera">
      <div class="rightTitle">
        <h1>在线预约</h1>
        <div class="arrange">
          <span class="red arrange_info">*您登记信息之后，我们客服将与您联系，请保持您的手机畅通，若联系不上，您的预约信息将作废。</span><br/>
          <span class="red arrange_info">预约成功之后，您可以登录我们的网站，用户名和密码默认为您的手机号码，如果您以前注册过用户，请您先登录!</span>
          <%=  form_for "reservations", :url => "/stores/#{@store.id}/reservations", :method => "post",
            :html => {:onsubmit => "return my_validate()"} do %>
            <table width="100%" border="0" cellspacing="1" cellpadding="0" id="loginmessage">
              <tr>
                <td colspan="4" class="table_head">登记信息</td>
              </tr>
              <tr>
                <td align="right">姓名：</td>
                <td><input name="customer_name" type="text" id="customer_name"
                           value="<%= current_customer.name if current_customer %>" <%= current_customer ? "readonly" : "" %>/></td>
                <td align="right">车牌号：</td>
                <td><input name="car_number" type="text" id="car_number"/></td>
              </tr>
              <tr>
                <td align="right">电话：</td>
                <td><input name="telephone" type="text" id="telephone"
                           value="<%= current_customer.mobilephone if current_customer %>" <%= current_customer ? "readonly" : "" %>/></td>
                <td align="right">预约时间：</td>
                <td>
                  <input name="res_day" type="text" id="datepicker" readonly/>
                  <select name="res_hour">
                    <option value="08">08时</option>
                    <option value="09">09时</option>
                    <option value="10">10时</option>
                    <option value="11">11时</option>
                    <option value="12">12时</option>
                    <option value="13">13时</option>
                    <option value="14">14时</option>
                    <option value="15">15时</option>
                    <option value="16">16时</option>
                    <option value="17">17时</option>
                    <option value="18">18时</option>
                  </select>
                  <select name="res_mins">
                    <option value="00">00分</option>
                    <option value="15">15分</option>
                    <option value="30">30分</option>
                    <option value="45">45分</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <input type="hidden" name="store_id" value="<%= @store.id  %>" />
                  <input type="button" class="btn" id="next_step" value="下一步"/>
                </td>
              </tr>
            </table>

            <table width="100%" border="0" cellspacing="1" cellpadding="0" id="selectservice" style="display:none;">
              <tr>
                <td colspan="4" class="table_head">
                  选择服务项目
                  <label id="emselect"></label>
                </td>
              </tr>
              <% if @services.blank? %>
                <tr>
                  <td>
                    <h1>当前门店无产品或服务!</h1>
                  </td>
                </tr>
              <% else %>
                <% if  @services.length > 3 %>
                  <tr>
                    <td>&nbsp;</td>
                    <% @services.first(3).each do |service|%>
                      <td>
                        <div class="td_item">
                          <img  alt="lantan" width="120" height="90"
                                src="<%=  service.img_url.gsub("img#{service.id}", "img#{service.id}_#{Constant::P_PICSIZE[1]}") if service.img_url %>" />
                          <p><input type="checkbox" name="select_service[]"  value='<%= service.id %>' /><%= service.name %></p>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="3">
                      <ul class="td_item_ul">
                        <% @services[3..@services.length-1].each do |service| %>
                          <li><input type="checkbox" name="select_service[]" value='<%= service.id %>' /><%= service.name %></li>
                        <% end %>
                      </ul>
                    </td>
                  </tr>
                <% else %>
                  <tr>
                    <td>&nbsp;</td>
                    <% @services.each do |service|%>
                      <td>
                        <div class="td_item">
                          <img  alt="lantan" width="120" height="90"
                                src="<%= service.img_url.gsub("img#{service.id}", "img#{service.id}_#{Constant::P_PICSIZE[1]}") if service.img_url %>" />
                          <p><input type="checkbox" name="select_service[]"  value='<%= service.id %>' /><%= service.name %></p>
                        </div>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
                <tr>
                  <td colspan="4">
                    <input type="submit" class="btn" value="提交预约" id="check"/>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
