<div class="rightTitle">
  <h1>服务</h1>
  <dl class="serve">
    <dt>汽车清洗类</dt>
    <% @service.each do |s|%>
      <% if s.types == 1 %>
        <dd><a href="productAndServiceDetail?id=<%= s.id %>"><%= s.name %></a></dd>
      <% end %>
    <% end %>
  </dl>
  <dl class="serve">
    <dt>汽车养护类</dt>
    <% @service.each do |s| %>
      <% if s.types == 2 %>
        <dd><a href="productAndServiceDetail?id=<%= s.id %>"><%= s.name %></a></dd>
      <% end %>
    <% end %>
  </dl>

</div>
<div class="rightTitle">
  <h1>产品</h1>
  <ul class="product">
    <% @products.each do |p|%>
      <li><img src= <%= p.img_url %>/><a href="productAndServiceDetail?id=<%= p.id %>"><%= p.name %></a></li>
    <% end %>
  </ul>
</div>
