<%= stylesheet_link_tag "jqzoom" %>
<%= javascript_include_tag "main" %>
<%= javascript_include_tag "jquery.jqzoom.min" %>
<div class="rightTitle">
  <% if @service_or_product.is_service %>
  <h1><a href="#">服务</a> &gt;<%= @service_or_product.name %></h1>
  <% else %>
  <h1><a href="#">产品</a> &gt;<%= @service_or_product.name %></h1>
  <% end %>
  
  <div class="pro_show">
    <div class="bigImg jqzoom"><img src="images/lt_big.jpg" jqimg = "images/lt_show.jpg" /></div>
    <div class="pic_show">
      <ul>
        <li><img src=<%= @service_or_product.img_url %> /></li>
      </ul>
    </div>
  </div>
  <div class="pro_price">
    <h2><%= @service_or_product.name  %></h2>
    <p>价格：<span><%= @service_or_product.base_price %></span>元</p>
    <p>促销：VIP价格<span><%= @service_or_product.sale_price %></span>元</p>
  </div>
  <div class="clear"></div>
  <div class="pro_text">
    <p><%= @service_or_product.description %></p>
    <img src=<%= @service_or_product.img_url %>/>
    <p><%= @service_or_product.introduction %></p>
  </div>
</div>