<%= stylesheet_link_tag "jqzoom" %>
<%= javascript_include_tag "main" %>
<%= javascript_include_tag "jquery.jqzoom.min" %>
<div class="main">
  <div class="box">
    <div class="leftAera">
      <%= render "/stores/store_info" %>
      <div class="leftSales">
        <%= render("/sales/laster_sales") %>
      </div>
    </div>
    <div class="rightAera">
      <div class="rightTitle">
        <% if @product.is_service %>
          <h1><a href="/stores/<%= @store.id %>/products">服务</a> &gt;<%= @product.name %></h1>
        <% else %>
          <h1><a href="/stores/<%= @store.id %>/products">产品</a> &gt;<%= @product.name %></h1>
        <% end %>
        <div class="pro_show">
          <div class="bigImg jqzoom">
            <%if @img_urls[0]%>
            <img alt="lantan" jqimg="<%= @img_urls[0].img_url.nil? ? "" : Constant::BAM_PATH + @img_urls[0].img_url  %>"
                   src="<%= @img_urls[0].img_url.nil? ? "" :  Constant::BAM_PATH + @img_urls[0].img_url.gsub("img#{@product.id}","img#{@product.id}_#{Constant::P_PICSIZE[3]}") %>" />
                 <% end %>
          </div>
          <div class="pic_show">
            <ul>
              <%@img_urls.each do |img|%>
                <li>
                  <img alt="lantan"
                       src="<%=  img.img_url.nil? ? "" :  Constant::BAM_PATH + img.img_url.gsub("img#{@product.id}","img#{@product.id}_#{Constant::P_PICSIZE[0]}") %>" />
                </li>
              <% end unless @img_urls.blank?  %>
            </ul>
          </div>
        </div>
        <div class="pro_price">
          <h2><%= @product.name  %></h2>
          <p>价格：<span><%= @product.base_price %></span>元</p>
          <p>促销价：<span><%= @product.sale_price %></span>元</p>
        </div>
        <div class="clear"></div>
        <div class="pro_text">
          <p><%= @product.introduction.html_safe if @product.introduction %></p>
        </div>
      </div>
    </div>
  </div>
</div>