<%  (@sales || []).each do |sale| %>
  <div class="salesList">
    <a href="/official_sale/<%= sale.id %>"><img src="<%= sale.img_url%>" alt="lantan" width="350" height="150" /></a>
    <h2><%= sale.name %></h2>
    <p><% if sale.disc_time_types == Sale::DISC_TIME[:TIME] %>
        <%= sale.started_at.strftime('%Y-%m-%d') if sale.started_at %>&nbsp;
        至&nbsp;<%= sale.ended_at.strftime('%Y-%m-%d') if sale.ended_at %>
      <% else %>
        <%= Sale::DISC_TIME_NAME[sale.disc_time_types] %>
      <% end %>
    </p>
    <p><%= sale.description.html_safe if sale.description %>...&nbsp;&nbsp;<%=link_to "详情>>","/stores/#{@store.id}/sales/#{sale.id}" %></p>
  </div>
<% end %>