<!doctype html>
<html>
<head>
<meta charset="utf-8"/>
<title>澜泰门店</title>
<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "jqzoom" %>
<%= stylesheet_link_tag "jquery-ui-1.10.0.custom.min" %>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "main" %>
<%= javascript_include_tag "jquery.jqzoom.min" %>
<%= javascript_include_tag "jquery-ui-1.10.0.custom.min" %>
<%= javascript_include_tag "jquery.ui.datepicker-zh-CN" %>

<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  DD_belatedPNG.fix('*');
</script>
<![endif]-->
</head>

<body>
<div class="head">
     <div class="box">
          <div class="logo"><img src="/assets/logo.jpg"/></div>
          <!--<div class="login">
               <a href="#">官网首页</a> |
               <a href="#">联系我们</a> |
               <a href="#">注册</a> |
               <a href="#">登录</a>
          </div>-->
          <div class="login">
               <a href="#">官网首页</a> |
               <a href="#">联系我们</a> |
               <a href="#">mehoooooooooooo</a>
          </div>
          <div class="nav">
               <ul>
                  <li><a href="#">首&nbsp;页</a></li>
                  <li><a href="/productsAndService">产品&amp;服务</a></li>
                  <li><a href="#">促销活动</a></li>
                  <li><a href="#">在线预约</a></li>
                  <li><a href="/teamIntroduce">团队介绍</a></li>
               </ul>
          </div>
     </div>
</div>
<div class="main">
     <div class="box">
          <div class="leftAera">
               <h1>澜泰杭州旗舰门店</h1>
               <ul>
                   <li>公司名称：杭州澜泰科技有限公司</li>
                   <li>公司地址：西湖科技园西园五路16号4A栋2楼</li>
                   <li>公司电话：0571-88272888</li>
                   <li>联 系 人： 张伟</li>
                   <li>电子邮件： zhangwei@lantan.cn</li>
               </ul>
               <div class="map"></div>
               <div class="leftSales">
                 <a href="#"><img src="/assets/sales01.jpg"/></a>
                 <a href="#"><img src="/assets/sales01.jpg"/></a>
               </div>
          </div>
          <div class="rightAera">
               <%= yield %>
          </div>
     </div>
</div>
   <div class="foot">
        <p>◎ 2013 LanTan. All Rights Reserved.</p>
   </div>
</body>
</html>