<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>澜泰门店</title>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "application","address","main","jquery.jqzoom.min","jquery-ui-1.10.0.custom.min" %>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.4&services=true"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=1.4&key=&services=&t=20130128031352"></script>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
  </head>
  <body>
    <div class="head">
      <div class="box">
        <div class="logo"><img src="/assets/logo.jpg"/></div>
        <div class="login">
          <div class="login">
            <a href="/">官网首页</a> |
            <a href="/homepage/contact_us">联系我们</a> |
            <a href="#">注册</a> |
            <a href="#">登录</a>
          </div>
        </div>
        <div class="nav">
          <ul>
            <li><a href="/stores/<%= @store.id %>">首&nbsp;页</a></li>
            <li><a href="/stores/<%= @store.id %>/products">产品&amp;服务</a></li>
            <li><a href="/stores/<%= @store.id %>/sales">促销活动</a></li>
            <li><a href="/stores/<%= @store.id %>/reservations/new">在线预约</a></li>
            <li><a href="/stores/<%= @store.id %>/teams">团队介绍</a></li>
          </ul>
        </div>
      </div>
    </div>
        <%= yield %>
    <div class="foot">
      <p>◎ 2013 LanTan. All Rights Reserved.</p>
    </div>
  </body>
</html>