<!doctype html>                       <!--总部布局模板-->
<html>
  <head>
    <meta charset="utf-8"/>
    <title>澜泰总部--产品信息</title>
    <%= stylesheet_link_tag "application","headquarter-style" %>
    <%= javascript_include_tag "application","headquarter-main","address", "logoff" %>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.4&services=true"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=1.4&key=&services=&t=20130128031352"></script>
    <!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('*');
    </script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="head">
      <div class="box">
        <a href="/"><div class="logo">杭州澜泰科技有限公司</div></a>
        <div class="login">
          <% if session[:customer_id].nil? %>
            <a href="/regist">注册</a> |
            <a href="/login">登录</a>
          <% else %>
            你好，<%= current_customer.name %>&nbsp;|<a href="/user_infos/svcard_records">个人信息</a>|<a href="/logout">注销</a>
          <% end %>
        </div>
        <div id="navigation" class="nav">
          <ul>
            <li <% if controller.controller_name == "homepage" and controller.action_name == "index" %>class="hover"<% end %>><a href="/homepage">首页</a></li>
            <li <% if controller.controller_name == "homepage" and 
                  ["company_introduce", "characteristic_service", "managment_idea", "company_culture", "team_introduce", "store_introduce"].include?(controller.action_name) %>
              class="menu hover"<% else %>class="menu"<% end %>>
              <a href="/introduce">关于澜泰</a>
              <div class="second_menu">
                <p><a href="/introduce">公司介绍</a></p>
                <p><a href="/characteristic">特色服务</a></p>
                <p><a href="/managment">经营理念</a></p>
                <p><a href="/culture">企业文化</a></p>
                <p><a href="/team">团队介绍</a></p>
                <p><a href="/store">门店介绍</a></p>
              </div>
            </li>
            <li <% if controller.controller_name == "official_sale" %>class="hover"<% end %>><a href="/official_sale">活动促销</a></li>
            <li <% if controller.controller_name == "product_information" %>class="hover"<% end %>><a href="/product_information">产品信息</a></li>
            <li <% if controller.controller_name == "cards" %>class="hover"<% end %>><a href="/cards">储值/打折卡</a></li>
            <li <% if controller.controller_name == "news" %>class="hover"<% end %>><a href="/news">新闻中心</a></li>
            <li <% if controller.controller_name == "surveys" %>class="hover"<% end %>><a href="/surveys">用户调查</a></li>
            <li <% if controller.controller_name == "homepage" and controller.action_name == "contact_us" %>class="hover"<% end %>><a href="/contact_us">联系我们</a></li>
          </ul>
          <div class="nav_bg"></div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="box">
        <div class="left">
          <%= render :partial => "/homepage/left" %>
        </div>
        <div class="right">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render :partial => "/common/tishi_alert" %>
    <div class="foot">
      <div><img src="/assets/foot_logo.png"/></div>
      <p>Copyright © 2013 杭州澜泰 版权所有</p>
    </div>
  </body>
</html>
